.step-list {
  gap: 1.39rem;
  flex-direction: column;
}
.step {
  color: var(--Alabaster);
  gap: 0.94rem;
}
.step .step-number {
  width: 2.09rem;
  height: 2.09rem;
  background-color: transparent;
  border: 1.5px solid var(--Pastel-blue);
  border-radius: 50%;
  display: flex;
  font-size: 0.95rem;
  justify-content: center;
  font-family: "Bold";
  align-items: center;
  margin-top: 2px;
}
.step .step-number.active {
  background-color: var(--Light-blue);
  color: var(--Marine-blue);
}
.step .step-details .step-details-number {
  font-family: "Regular";
  color: var(--Pastel-blue);
  font-size: 0.75rem;
  margin-top: 4px;
}
.step .step-details .step-details-info {
  font-family: "Bold";
  font-size: 0.97rem;
  margin-top: -3px;
}
@media (max-width: 425px) {
  .step-list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .step .step-details {
    display: none;
  }
}
