.field {
  margin-bottom: 21.5px;
  color: var(--Marine-blue);
}
.input-label {
  display: block;
  margin-bottom: 5.5px;
  font-family: "Regular";
  font-size: 0.88rem;
  position: relative;
}
.input-field {
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--Light-gray);
  padding-left: 15px;
  font-size: 1rem;
  font-family: "Medium";
  color: var(--Marine-blue);
}
.input-field::placeholder {
  color: var(--Cool-gray);
}
.error-msg {
  color: var(--Strawberry-red);
  position: absolute;
  right: 0px;
  top: -1px;
  font-size: 0.91rem;
  font-family: "Medium";
}

@media (max-width: 425px) {
  .field {
    margin-bottom: 13px;
  }
  .input-label {
    font-size: 0.75rem;
    margin-bottom: 2px;
  }
  .input-field {
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 0.935rem;
  }
}
