:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Magnolia);
}
.form > .container {
  max-height: 600px;
  max-width: 942px;
  background-color: var(--White);
}

.form > .container > .row {
  padding: 15px 17px;
  box-shadow: 1px 5px 10px var(--Light-gray);
}
.form > .container > .row aside {
  width: 30.2%;
  height: calc(600px - 32px);
  padding: 2.17rem 2rem;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
}
.form > .container > .row main {
  position: relative;
  width: 69.8%;
  padding: 0;
  height: calc(600px - 32px);
}
.form > .container > .row main .content {
  padding: 2.5rem 4.2rem 3rem 5.25rem;
  margin: 0 1rem;
  border-radius: 10px;
}

.form > .container > .row main .btns {
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
  background-color: var(--White);
  padding: 0 5.2rem 0 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form > .container > .row main :is(.next, .back) {
  font-family: "Medium";
  outline: none;
  border: none;
  font-size: 1rem;
}
main .next {
  padding: 12px 0px;
  width: 7.7rem;
  text-align: center;
  border-radius: 10px;
  background-color: var(--Marine-blue);
  color: var(--White);
}
main .next:hover {
  background-color: var(--Purplish-blue);
}
main .back {
  font-family: "Medium";
  /* padding: 13px 0.5px; */
  padding: 0.6rem 0;
  background-color: transparent;
  color: var(--Cool-gray);
}
main .back:hover {
  color: var(--Marine-blue);
}

@media (max-width: 425px) {
  .form {
    align-items: baseline;
  }
  .form > .container {
    background-color: transparent;
  }
  .form > .container > .row {
    padding: 0;
    box-shadow: none;
  }
  .form > .container > .row aside {
    margin-bottom: -73px;
    width: 100%;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    height: 172px;
    padding-top: 30px;
  }
  .form > .container > .row main {
    width: 100%;
    padding: 0;
  }
  .form > .container > .row main .content {
    box-shadow: 1px 5px 10px var(--Light-gray);
    background-color: var(--White);
    padding: 2rem 1.5rem;
  }
  .form > .container > .row main .btns {
    position: fixed;
    bottom: 0;
    margin-top: 1.59rem;
    padding: 0.95rem 1rem;
  }
  .form > .container > .row main :is(.next, .back) {
    font-size: 0.875rem;
  }
  main .next {
    padding: 9.5px 0px;
    width: 97px;
    border-radius: 5px;
  }
}
